# Spigot Configuration
config-version: 12
settings:
  debug: false
  save-user-cache-on-stop-only: false
  moved-wrongly-threshold: 0.0625
  moved-too-quickly-multiplier: 10.0
  timeout-time: 60
  restart-on-crash: true
  restart-script: ./start.sh
  netty-threads: 4
  log-villager-deaths: true
  log-named-deaths: true
messages:
  whitelist: You are not whitelisted on this server!
  unknown-command: Unknown command. Type "/help" for help.
  server-full: The server is full!
  outdated-client: Outdated client! Please use {0}
  outdated-server: Outdated server! I'm still on {0}
  restart: Server is restarting
commands:
  log: true
  tab-complete: 0
  send-namespaced: true
  spam-exclusions:
    - /skill
  silent-commandblock-console: false
advancements:
  disable-saving: false
  disabled:
    - minecraft:story/disabled
